* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

:root {
  --color-primary: #38bdf8;
  --color-secondary: #6d28d9;
  --color-tertiary: #4c1d95;
  --color-quaternary: #d1d5db;
  --color-quinary: #262626;
  --color-senary: #c8ced6;
  --color-septenary: #fff;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary),
    var(--color-tertiary)
  );
  color: var(--color-quaternary);
}

#calculator {
  background-color: var(--color-quinary);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.323);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#calculator h2 {
  font-size: 30px;
  position: relative;
}

#calculator h2::before {
  position: absolute;
  content: '';
  height: 3px;
  width: 150px;
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary),
    var(--color-tertiary)
  );
  bottom: 5px;
}

#input_box {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-field label {
  font-size: 15px;
  color: var(--color-senary);
  font-weight: 500;
}

.input-field input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-tertiary);
  color: var(--color-septenary);
  font-size: 20px;
  padding: 5px;
}

.input-field input:focus {
  outline: none;
}

#result {
  text-align: center;
}

#total {
  font-size: 40px;
}

#calculate {
  background-color: var(--color-secondary);
  border: none;
  padding: 10px;
  color: var(--color-septenary);
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

#calculate:hover {
  background-color: var(--color-tertiary);
}


@media (max-width: 425px) {
  #calculator {
    width: 300px;
  }

  #calculator h2 {
    font-size: 23px;
  }

  .input-field label {
    font-size: 12px;
  }

  .input-field input {
    font-size: 11px;
  }

  #total {
    font-size: 20px;
  }

  #calculate {
    font-size: 15px;
  }

  #calculator h2::before {
    width: 205px;
    border-radius: 50%;
    bottom: 0px;
}
}

@media (min-width: 768px) {
  #calculator {
    padding: 40px;
    height: 510px;
    width: 710px;
    border-radius: 8px;
    gap: 13px;
  }
  
  #calculator h2 {
    font-size: 25px;
    position: relative;
  }

  #calculator h2::before {
    width: 335px;
    border-radius: 50%;
    bottom: 4px;
}

.input-field label {
  font-size: 17px;
}

.input-field input {
  font-size: 15px;
}

#calculate {
  padding: 10px;
  font-size: 20px;
}

#result {
  font-size: 25px;
}

#total {
  font-size: 30px;
}

}


